body {
    font-family: 'Titillium Web', sans-serif;
}

#groupe {

    width:98.2%;
}


/* Image */

h1 {

    font-family: 'Titillium Web', sans-serif;
    color : white;
    font-weight: 800;
    font-size : 2em !important;
    position: relative;
    margin-bottom: 0;
    text-align: center;
    margin-top : 2%;
    text-shadow: 5px 5px 1px #29898F;

}

h2 {
    font-weight: bold !important;
}

.container-titre {
    height: 80vh;
    background-image: url("bannieres/ordigroupeOrange.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0;
    background-blend-mode: color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size : 300%;
    color : white;
    margin-bottom : 3%;
}



/* Effet noir blanc en couleur */

.container-titre:hover  {

    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    -webkit-transition:all 0.3s;
    transition:all 0.3s;
}

.container-titre{

    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);

}

.container-titre:hover  {

    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    -webkit-transition:all 0.3s;
    transition:all 0.3s;
}

.container-titre{

    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);

}

/* End Image */

#formulaire {

    background-color: #29898F;
    border-radius: 5px;
    padding: 10px;
    color: white;
    margin: auto;
}

#adresse, #map {
    margin: 0 auto !important;
    text-align: center;
    padding: 30px;
    color: white;
}

#renseignements {
    background-color: #29898F;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.separator3 {
    height: 3px;
    width: 20%;
    border: none;
    box-shadow: none;
    background-color: #ea844e;
    margin-top: 5%;
    margin-bottom: 5%;
}

h2 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.color {
    color: #ea844e;
}

p, b {
    color: white;
}

#envoi {
    background-color: white !important;
    color: #29898F !important;
    margin-top: 20px;
    text-align: right;
}

#boutonEnvoi{
    margin-left: 85%;
}

.programme {
    color: #29898f;
    border: solid #eb905f;
    border-radius: 20px;
}
