body {
    font-family: 'Titillium Web', sans-serif;
}

#groupe {

    width:98.2%;
}

#text {
    font-size : 2em;
    color : WHITE;
    font-weight: 800;
    position: relative;
    margin-bottom: 0px;
    text-transform: uppercase;
    text-align: center;
    margin-top : 2%;
    text-shadow: 5px 5px 1px #29898F;

}

.container-groupe:hover  {

    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    -webkit-transition:all 0.3s;
    transition:all 0.3s;
}

.container-groupe{
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);

}

.container-partenariats:hover  {

    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    -webkit-transition:all 0.3s;
    transition:all 0.3s;
}

.container-partenariats{

    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);

}

.container-groupe {


    height: 80vh;
    background-image: url("bannieres/mainsOrange.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0;
    background-blend-mode: color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size : 300%;
    color : white;
    margin-bottom : 3%;
}

#titreremerciements {
    color: #29898f;
}

#CaseRemerciements {
    border: #eb905f solid;
    border-radius: 20px;
    color: #29898f;

}

#img1 {
    width: 140px;
}

#Nom1 {
    font-size: 25px;
    top: 10px;
}

#Para1 {
    font-size: 20px;
    margin-top: -30px;
}

#FB {
    text-decoration: underline #29898f;
}

#CaseRemerciements3 {
    margin-top: 5%;
    margin-bottom: 5%;
    background: #29898f;
    border: #29898f solid;
    border-radius: 20px;
    color: white;
}

#CaseRemerciements2 {
    border: #eb905f solid;
    border-radius: 20px;
    color: #29898f;
    margin-top: 5%;
}

#img3 {
    width: 140px;
}

#Nom3 {
    font-size: 25px;
    top: 10px;
}

#Para3 {
    font-size: 20px;
    margin-top: -40px;
}

#FB3 {
    text-decoration: underline white;
}

h2 {
    font-weight: bold !important;
}